wsdl/accounting2/hierarchies.asmx.wsdl.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.twinfield.com/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.twinfield.com/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Twinfield hierarchy web service methods.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.twinfield.com/">
      <s:import namespace="http://microsoft.com/wsdl/types/"/>
      <s:element name="Load">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hierarchyCode" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadResult" type="tns:ArrayOfMessageOfHierarchyLoadMessage"/>
            <s:element minOccurs="0" maxOccurs="1" name="hierarchy" type="tns:Hierarchy"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMessageOfHierarchyLoadMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MessageOfHierarchyLoadMessage" nillable="true" type="tns:MessageOfHierarchyLoadMessage"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="MessageOfHierarchyLoadMessage">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:MessageType"/>
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="tns:HierarchyLoadMessage"/>
          <s:element minOccurs="0" maxOccurs="1" name="Parameters" type="tns:ArrayOfString"/>
        </s:sequence>
      </s:complexType>
      <s:simpleType name="MessageType">
        <s:restriction base="s:string">
          <s:enumeration value="Error"/>
          <s:enumeration value="Warning"/>
          <s:enumeration value="Informational"/>
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="HierarchyLoadMessage">
        <s:restriction base="s:string">
          <s:enumeration value="InvalidCode"/>
          <s:enumeration value="UserRoleNotAllowedToPerformThisAction"/>
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Hierarchy">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="RootNode" type="tns:HierarchyNode"/>
          <s:element minOccurs="0" maxOccurs="1" name="AccessRights" type="tns:ArrayOfHierarchyAccess"/>
          <s:element minOccurs="1" maxOccurs="1" name="Touched" type="s:int"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="HierarchyNode">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" nillable="true" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Accounts" type="tns:ArrayOfHierarchyAccount"/>
          <s:element minOccurs="0" maxOccurs="1" name="ChildNodes" type="tns:ArrayOfHierarchyNode"/>
          <s:element minOccurs="0" maxOccurs="1" name="Messages" type="tns:ArrayOfMessageOfHierarchyNodeMessage"/>
          <s:element minOccurs="1" maxOccurs="1" name="Touched" type="s:int"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHierarchyAccount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HierarchyAccount" nillable="true" type="tns:HierarchyAccount"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="HierarchyAccount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="BalanceType" type="tns:HierarchyAccountBalanceType"/>
        </s:sequence>
      </s:complexType>
      <s:simpleType name="HierarchyAccountBalanceType">
        <s:restriction base="s:string">
          <s:enumeration value="Credit"/>
          <s:enumeration value="Balance"/>
          <s:enumeration value="Debit"/>
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfHierarchyNode">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HierarchyNode" nillable="true" type="tns:HierarchyNode"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMessageOfHierarchyNodeMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MessageOfHierarchyNodeMessage" nillable="true" type="tns:MessageOfHierarchyNodeMessage"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="MessageOfHierarchyNodeMessage">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:MessageType"/>
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="tns:HierarchyNodeMessage"/>
          <s:element minOccurs="0" maxOccurs="1" name="Parameters" type="tns:ArrayOfString"/>
        </s:sequence>
      </s:complexType>
      <s:simpleType name="HierarchyNodeMessage">
        <s:restriction base="s:string">
          <s:enumeration value="Touched"/>
          <s:enumeration value="InvalidCode"/>
          <s:enumeration value="InvalidName"/>
          <s:enumeration value="InvalidDescription"/>
          <s:enumeration value="NodeConflict"/>
          <s:enumeration value="NodeNotUnique"/>
          <s:enumeration value="BindingConflict"/>
          <s:enumeration value="BindingNotUnique"/>
          <s:enumeration value="ReadOnly"/>
          <s:enumeration value="MaximumDepthExceeded"/>
          <s:enumeration value="BindingInvalid"/>
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfHierarchyAccess">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HierarchyAccess" nillable="true" type="tns:HierarchyAccess"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="HierarchyAccess">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:HierarchyAccessType"/>
          <s:element minOccurs="0" maxOccurs="1" name="OfficeCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="RoleCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="UserCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Messages" type="tns:ArrayOfMessageOfHierarchyAccessMessage"/>
          <s:element minOccurs="1" maxOccurs="1" name="AccessRightTabAccesible" type="s:boolean"/>
        </s:sequence>
      </s:complexType>
      <s:simpleType name="HierarchyAccessType">
        <s:restriction base="s:string">
          <s:enumeration value="None"/>
          <s:enumeration value="Use"/>
          <s:enumeration value="Bind"/>
          <s:enumeration value="Edit"/>
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfMessageOfHierarchyAccessMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MessageOfHierarchyAccessMessage" nillable="true" type="tns:MessageOfHierarchyAccessMessage"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="MessageOfHierarchyAccessMessage">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:MessageType"/>
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="tns:HierarchyAccessMessage"/>
          <s:element minOccurs="0" maxOccurs="1" name="Parameters" type="tns:ArrayOfString"/>
        </s:sequence>
      </s:complexType>
      <s:simpleType name="HierarchyAccessMessage">
        <s:restriction base="s:string">
          <s:enumeration value="InvalidOffice"/>
          <s:enumeration value="InvalidRole"/>
          <s:enumeration value="InvalidUser"/>
          <s:enumeration value="Redundant"/>
          <s:enumeration value="InvalidRoleUser"/>
          <s:enumeration value="InvalidRoleAccess"/>
          <s:enumeration value="InvalidUserAccess"/>
          <s:enumeration value="DefaultInOffice"/>
          <s:enumeration value="InvalidRoleEditAccess"/>
          <s:enumeration value="InvalidUserEditAccess"/>
        </s:restriction>
      </s:simpleType>
      <s:element name="Header" type="tns:Header"/>
      <s:complexType name="Header">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="AccessToken" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="CompanyId" nillable="true" type="s1:guid"/>
        </s:sequence>
        <s:anyAttribute/>
      </s:complexType>
      <s:element name="Save">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hierarchy" type="tns:Hierarchy"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveResult" type="tns:ArrayOfMessageOfHierarchySaveMessage"/>
            <s:element minOccurs="0" maxOccurs="1" name="hierarchy" type="tns:Hierarchy"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMessageOfHierarchySaveMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MessageOfHierarchySaveMessage" nillable="true" type="tns:MessageOfHierarchySaveMessage"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="MessageOfHierarchySaveMessage">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:MessageType"/>
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="tns:HierarchySaveMessage"/>
          <s:element minOccurs="0" maxOccurs="1" name="Parameters" type="tns:ArrayOfString"/>
        </s:sequence>
      </s:complexType>
      <s:simpleType name="HierarchySaveMessage">
        <s:restriction base="s:string">
          <s:enumeration value="Touched"/>
          <s:enumeration value="InvalidCode"/>
          <s:enumeration value="InvalidName"/>
          <s:enumeration value="InvalidDescription"/>
          <s:enumeration value="InvalidNodes"/>
          <s:enumeration value="InvalidAccessRights"/>
          <s:enumeration value="AccessDenied"/>
          <s:enumeration value="DefaultInOffice"/>
        </s:restriction>
      </s:simpleType>
      <s:element name="Bind">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="node" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="office" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="accounts" type="tns:ArrayOfHierarchyAccount"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BindResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BindResult" type="tns:ArrayOfMessageOfHierarchyBindMessage"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMessageOfHierarchyBindMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MessageOfHierarchyBindMessage" nillable="true" type="tns:MessageOfHierarchyBindMessage"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="MessageOfHierarchyBindMessage">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:MessageType"/>
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="tns:HierarchyBindMessage"/>
          <s:element minOccurs="0" maxOccurs="1" name="Parameters" type="tns:ArrayOfString"/>
        </s:sequence>
      </s:complexType>
      <s:simpleType name="HierarchyBindMessage">
        <s:restriction base="s:string">
          <s:enumeration value="BindingConflict"/>
          <s:enumeration value="BindingNotUnique"/>
          <s:enumeration value="InvalidNode"/>
          <s:enumeration value="ReadOnly"/>
          <s:enumeration value="BindingInvalid"/>
        </s:restriction>
      </s:simpleType>
      <s:element name="Unbind">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="node" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="office" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="accounts" type="tns:ArrayOfHierarchyAccount"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnbindResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnbindResult" type="tns:ArrayOfMessageOfHierarchyUnbindMessage"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMessageOfHierarchyUnbindMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MessageOfHierarchyUnbindMessage" nillable="true" type="tns:MessageOfHierarchyUnbindMessage"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="MessageOfHierarchyUnbindMessage">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:MessageType"/>
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="tns:HierarchyUnbindMessage"/>
          <s:element minOccurs="0" maxOccurs="1" name="Parameters" type="tns:ArrayOfString"/>
        </s:sequence>
      </s:complexType>
      <s:simpleType name="HierarchyUnbindMessage">
        <s:restriction base="s:string">
          <s:enumeration value="InvalidNode"/>
        </s:restriction>
      </s:simpleType>
      <s:element name="Hide">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hierarchyCode" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HideResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HideResult" type="tns:ArrayOfMessageOfHierarchyLoadMessage"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hierarchyCode" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteResult" type="tns:ArrayOfMessageOfHierarchyLoadMessage"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoadSoapIn">
    <wsdl:part name="parameters" element="tns:Load"/>
  </wsdl:message>
  <wsdl:message name="LoadSoapOut">
    <wsdl:part name="parameters" element="tns:LoadResponse"/>
  </wsdl:message>
  <wsdl:message name="LoadHeader">
    <wsdl:part name="Header" element="tns:Header"/>
  </wsdl:message>
  <wsdl:message name="SaveSoapIn">
    <wsdl:part name="parameters" element="tns:Save"/>
  </wsdl:message>
  <wsdl:message name="SaveSoapOut">
    <wsdl:part name="parameters" element="tns:SaveResponse"/>
  </wsdl:message>
  <wsdl:message name="SaveHeader">
    <wsdl:part name="Header" element="tns:Header"/>
  </wsdl:message>
  <wsdl:message name="BindSoapIn">
    <wsdl:part name="parameters" element="tns:Bind"/>
  </wsdl:message>
  <wsdl:message name="BindSoapOut">
    <wsdl:part name="parameters" element="tns:BindResponse"/>
  </wsdl:message>
  <wsdl:message name="BindHeader">
    <wsdl:part name="Header" element="tns:Header"/>
  </wsdl:message>
  <wsdl:message name="UnbindSoapIn">
    <wsdl:part name="parameters" element="tns:Unbind"/>
  </wsdl:message>
  <wsdl:message name="UnbindSoapOut">
    <wsdl:part name="parameters" element="tns:UnbindResponse"/>
  </wsdl:message>
  <wsdl:message name="UnbindHeader">
    <wsdl:part name="Header" element="tns:Header"/>
  </wsdl:message>
  <wsdl:message name="HideSoapIn">
    <wsdl:part name="parameters" element="tns:Hide"/>
  </wsdl:message>
  <wsdl:message name="HideSoapOut">
    <wsdl:part name="parameters" element="tns:HideResponse"/>
  </wsdl:message>
  <wsdl:message name="HideHeader">
    <wsdl:part name="Header" element="tns:Header"/>
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete"/>
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteHeader">
    <wsdl:part name="Header" element="tns:Header"/>
  </wsdl:message>
  <wsdl:portType name="HierarchiesSoap">
    <wsdl:operation name="Load">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Loads a hierarchy.</wsdl:documentation>
      <wsdl:input message="tns:LoadSoapIn"/>
      <wsdl:output message="tns:LoadSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Saves a hierarchy.</wsdl:documentation>
      <wsdl:input message="tns:SaveSoapIn"/>
      <wsdl:output message="tns:SaveSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="Bind">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Binds accounts to a hierarchy node.</wsdl:documentation>
      <wsdl:input message="tns:BindSoapIn"/>
      <wsdl:output message="tns:BindSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="Unbind">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Unbinds accounts from a hierarchy node.</wsdl:documentation>
      <wsdl:input message="tns:UnbindSoapIn"/>
      <wsdl:output message="tns:UnbindSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="Hide">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Hides a hierarchy.</wsdl:documentation>
      <wsdl:input message="tns:HideSoapIn"/>
      <wsdl:output message="tns:HideSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Deletes a hierarchy.</wsdl:documentation>
      <wsdl:input message="tns:DeleteSoapIn"/>
      <wsdl:output message="tns:DeleteSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HierarchiesSoap" type="tns:HierarchiesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Load">
      <soap:operation soapAction="http://www.twinfield.com/Load" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:LoadHeader" part="Header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://www.twinfield.com/Save" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:SaveHeader" part="Header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Bind">
      <soap:operation soapAction="http://www.twinfield.com/Bind" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:BindHeader" part="Header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unbind">
      <soap:operation soapAction="http://www.twinfield.com/Unbind" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:UnbindHeader" part="Header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hide">
      <soap:operation soapAction="http://www.twinfield.com/Hide" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:HideHeader" part="Header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://www.twinfield.com/Delete" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:DeleteHeader" part="Header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HierarchiesSoap12" type="tns:HierarchiesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Load">
      <soap12:operation soapAction="http://www.twinfield.com/Load" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:LoadHeader" part="Header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap12:operation soapAction="http://www.twinfield.com/Save" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:SaveHeader" part="Header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Bind">
      <soap12:operation soapAction="http://www.twinfield.com/Bind" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:BindHeader" part="Header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unbind">
      <soap12:operation soapAction="http://www.twinfield.com/Unbind" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:UnbindHeader" part="Header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hide">
      <soap12:operation soapAction="http://www.twinfield.com/Hide" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:HideHeader" part="Header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://www.twinfield.com/Delete" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:DeleteHeader" part="Header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Hierarchies">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Twinfield hierarchy web service methods.</wsdl:documentation>
    <wsdl:port name="HierarchiesSoap" binding="tns:HierarchiesSoap">
      <soap:address location="https://accounting2.twinfield.com/webservices/hierarchies.asmx"/>
    </wsdl:port>
    <wsdl:port name="HierarchiesSoap12" binding="tns:HierarchiesSoap12">
      <soap12:address location="https://accounting2.twinfield.com/webservices/hierarchies.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
