wsdl/accounting2/PeriodService.svc.wsdl.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.twinfield.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="PeriodService" targetNamespace="http://www.twinfield.com/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.twinfield.com/Imports">
      <xsd:import schemaLocation="https://web-edgenetworking-instancerouting-router.master.svc.cluster.local/webservices/PeriodService.svc?xsd=xsd4" namespace="http://www.twinfield.com/"/>
      <xsd:import schemaLocation="https://web-edgenetworking-instancerouting-router.master.svc.cluster.local/webservices/PeriodService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices"/>
      <xsd:import schemaLocation="https://web-edgenetworking-instancerouting-router.master.svc.cluster.local/webservices/PeriodService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.PeriodService"/>
      <xsd:import schemaLocation="https://web-edgenetworking-instancerouting-router.master.svc.cluster.local/webservices/PeriodService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="https://web-edgenetworking-instancerouting-router.master.svc.cluster.local/webservices/PeriodService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xsd:import schemaLocation="https://web-edgenetworking-instancerouting-router.master.svc.cluster.local/webservices/PeriodService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.Shared"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CommandRequest">
    <wsdl:part name="Command" element="tns:Command"/>
  </wsdl:message>
  <wsdl:message name="CommandRequest_Headers">
    <wsdl:part name="Authentication" element="tns:Authentication"/>
    <wsdl:part name="SessionId" element="tns:SessionId"/>
  </wsdl:message>
  <wsdl:message name="PeriodService_Process_OutputMessage"/>
  <wsdl:message name="PeriodService_Process_SecurityFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" name="detail" element="q1:SecurityFault"/>
  </wsdl:message>
  <wsdl:message name="PeriodService_Process_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" name="detail" element="q2:ValidationFault"/>
  </wsdl:message>
  <wsdl:message name="PeriodService_Process_PeriodServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.PeriodService" name="detail" element="q3:PeriodServiceFault"/>
  </wsdl:message>
  <wsdl:message name="QueryRequest">
    <wsdl:part name="Query" element="tns:Query"/>
  </wsdl:message>
  <wsdl:message name="QueryRequest_Headers">
    <wsdl:part name="Authentication" element="tns:Authentication"/>
    <wsdl:part name="SessionId" element="tns:SessionId"/>
  </wsdl:message>
  <wsdl:message name="QueryResponse">
    <wsdl:part name="Result" element="tns:Result"/>
  </wsdl:message>
  <wsdl:message name="PeriodService_Query_SecurityFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" name="detail" element="q4:SecurityFault"/>
  </wsdl:message>
  <wsdl:message name="PeriodService_Query_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Twinfield.WebServices" name="detail" element="q5:ValidationFault"/>
  </wsdl:message>
  <wsdl:message name="PeriodService_Query_PeriodServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Twinfield.WebServices.PeriodService" name="detail" element="q6:PeriodServiceFault"/>
  </wsdl:message>
  <wsdl:portType name="PeriodService">
    <wsdl:operation name="Process">
      <wsdl:input wsaw:Action="http://www.twinfield.com/PeriodService/Process" name="CommandRequest" message="tns:CommandRequest"/>
      <wsdl:output wsaw:Action="http://www.twinfield.com/PeriodService/ProcessResponse" message="tns:PeriodService_Process_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://www.twinfield.com/PeriodService/ProcessSecurityFaultFault" name="SecurityFaultFault" message="tns:PeriodService_Process_SecurityFaultFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://www.twinfield.com/PeriodService/ProcessValidationFaultFault" name="ValidationFaultFault" message="tns:PeriodService_Process_ValidationFaultFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://www.twinfield.com/PeriodService/ProcessPeriodServiceFaultFault" name="PeriodServiceFaultFault" message="tns:PeriodService_Process_PeriodServiceFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input wsaw:Action="http://www.twinfield.com/PeriodService/Query" name="QueryRequest" message="tns:QueryRequest"/>
      <wsdl:output wsaw:Action="http://www.twinfield.com/PeriodService/QueryResponse" name="QueryResponse" message="tns:QueryResponse"/>
      <wsdl:fault wsaw:Action="http://www.twinfield.com/PeriodService/QuerySecurityFaultFault" name="SecurityFaultFault" message="tns:PeriodService_Query_SecurityFaultFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://www.twinfield.com/PeriodService/QueryValidationFaultFault" name="ValidationFaultFault" message="tns:PeriodService_Query_ValidationFaultFault_FaultMessage"/>
      <wsdl:fault wsaw:Action="http://www.twinfield.com/PeriodService/QueryPeriodServiceFaultFault" name="PeriodServiceFaultFault" message="tns:PeriodService_Query_PeriodServiceFaultFault_FaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_PeriodService" type="tns:PeriodService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Process">
      <soap:operation soapAction="http://www.twinfield.com/PeriodService/Process" style="document"/>
      <wsdl:input name="CommandRequest">
        <soap:header message="tns:CommandRequest_Headers" part="Authentication" use="literal"/>
        <soap:header message="tns:CommandRequest_Headers" part="SessionId" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SecurityFaultFault">
        <soap:fault name="SecurityFaultFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PeriodServiceFaultFault">
        <soap:fault name="PeriodServiceFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://www.twinfield.com/PeriodService/Query" style="document"/>
      <wsdl:input name="QueryRequest">
        <soap:header message="tns:QueryRequest_Headers" part="Authentication" use="literal"/>
        <soap:header message="tns:QueryRequest_Headers" part="SessionId" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="QueryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SecurityFaultFault">
        <soap:fault name="SecurityFaultFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PeriodServiceFaultFault">
        <soap:fault name="PeriodServiceFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PeriodService">
    <wsdl:port name="BasicHttpBinding_PeriodService" binding="tns:BasicHttpBinding_PeriodService">
      <soap:address location="https://web-edgenetworking-instancerouting-router.master.svc.cluster.local/webservices/PeriodService.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
